main.main-rich-block
  ul#smart-portfolio-rich
    - for (var x = 1; x < 7; x++)
      li(data-aos="fade-up" class='image-rich-item image-rich-'+x)
        a(href="http://vk.com" target="_blank")
          //- img(src='img/clients/' + x + '.png')
  #more-button-rich.btn-load-rich  Загрузить еще
