doctype html
html(lang="ru")
  include ./template/head.pug
  body
    include ./template/header.pug
    include ./template/main.pug
    script(src="https://cdn.jsdelivr.net/gh/michalsnik/aos@2.1.1/dist/aos.js")
    script(src='js/app.js')
